.PVMjB {
    position: relative;
    flex: none;
    height: 24px;
    transition: background-color .3s ease
}

html[dir] .PVMjB {
    padding: 8px;
    border-radius: 50%
}

html[dir=ltr] .PVMjB {
    margin-left: 10px
}

html[dir=rtl] .PVMjB {
    margin-right: 10px
}

html[dir] .PVMjB._4QpsN,html[dir] .PVMjB._1dNoJ,html[dir] .PVMjB:hover {
    background-color: rgba(var(--shadow-rgb),.1)
}

.PVMjB:hover {
    transition: background-color .01s ease
}

.PVMjB._2Pza8 {
    opacity: .45;
    pointer-events: none
}

html[dir=ltr] .PVMjB:first-of-type {
    margin-left: 0
}

html[dir=rtl] .PVMjB:first-of-type {
    margin-right: 0
}

@media screen and (max-width: 720px) {
    html[dir] .PVMjB {
        padding:6px
    }

    html[dir=ltr] .PVMjB {
        margin-left: 2px
    }

    html[dir=rtl] .PVMjB {
        margin-right: 2px
    }
}